@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #FFF;
}

header{
    display: flex;
    align-items: center;
    background-color: #e4e4e4;
    height: 20%;
}

header img{
    width: 5%;
    margin: 0.8rem;

}

header p{
    font-size: 1.5rem;
}

/* PRINCIPAL */
main{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}
.container-dados{
    display: flex;
    align-items: center;
    margin: 1rem;
    width: 40%;
}

.container-dados img{
    width: 30%;
    border-radius: 100%;
}

.dados{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-bottom: 8rem;
}

#nome{
    display: flex;
    align-items: start;
    font-weight: bold;
    font-size: 1.5rem;
}

#local-escala{
    font-size: 1.2rem;
    margin-top: 1rem;
}

.container-patente{
    display: flex;
    align-items: center;
    margin-bottom: 8rem;
}

.container-patente p{
    font-weight: bold;
    font-size: 1.5rem;
}

.container-pontos{
    display: flex;
    align-items: center ;
    margin-bottom: 8rem;
    margin-left: 12rem;
    gap: 1rem;
}

#l-pontuacao{
    font-weight: bold;
    font-size: 1.5rem;
}